* {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
    width: 100%;
    /* overflow-x: hidden; */
}

main {
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* border-bottom: 7px solid #303030; */
}

.overlay {
    background: rgba(27, 27, 27, 0.4);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 60%, rgba(0, 0, 0, .8));
    min-height: 100%;

}

.logo {
    width: 180px;
    margin-left: 35px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.signin {
    padding: 7px 19px;
    background-color: #E50914;
    color: white;
    font-size: 1em;
    border-radius: 0.3em;
    border: none;
    margin-left: 20px;
}

#lang {
    background-color: black;
    color: white;
    padding: 0.5em 0.2em 0.5em 1.7em;
    border: 0.1px solid white;
    font-size: 1em;
    border-radius: 0.175em;

}

.buttons {
    margin-top: 25px;
    margin-right: 40px;
}

.select {
    display: inline-block;
}

svg {
    color: #fff;
    height: 20px;
    position: relative;
    left: 30px;
    top: 4px;
}

.main-text {
    margin: 100px auto;
    text-align: center;
    color: white;


}

.main-text h1 {
    font-size: 4em;

}

.main-text h2 {
    font-size: 1.6em;

    margin-top: -30px;
}

input[type="email"] {
    width: 30%;
    padding: 15px 10px;
    border: none;
    font-size: 1.1em;
}

input[type="email"]:placeholder-shown {
    font-family: Roboto;
    font-size: 1em;

}

input[type="email"]:focus {
    outline: none;
}

.btn1 {
    background-color: #E50914;
    border: none;
    color: #fff;
    /* padding: 17px; */
    font-family: poppins;
    font-weight: 100;
    font-size: 1.6em;
    padding: 6px 30px;
    position: relative;
    /* left:5px; */
    top: 3.4px;

}

section {
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.item1,
.item2,
.item3,
.item4 {
    border-top: 10px solid #303030;
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    padding: 40px;
    max-width: 100%;

}

.item1 img,
.item2 img,
.item3 img,
.item4 img {
    width: 500px;
}

.item1 h2,
.item2 h2,
.item3 h2,
.item4 h2 {
    align-self: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;

}

.heading {
    font-family: raleway;
    font-size: 2.3em;
    padding-bottom: 25px;
}

.item5 {
    border-top: 10px solid #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    max-width: 100%;
}

.item5 h2 {

    font-size: 2.6em;
}
.questions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.q1,
.q2,
.q3,
.q4,
.q5,
.q6 {
    width: 100%;
    max-width: 70%;
    font-size: 1.7em;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #303030;
    margin-bottom: 15px;
    cursor: pointer;
    

}




.item5 .get-started {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    margin-bottom: 30px;
}

.item6 {
    border-top: 10px solid #303030;
    max-width: 100%;
    width: 100%;
    background-color: #000000;
    padding: 50px 120px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: #737373;
    /* display: flex;
    flex-direction: column; */

}

.item6 h4 {
    font-weight: normal;
}

.item6 a {

    text-decoration: none;
    color: #737373;
}

.item6 a:hover {

    text-decoration: underline;

}

.fline1 {
    /* margin-left: -95px; */
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
    margin-bottom: 20px;
}

table {
    font-size: 0.8em;
}

table td {
    padding: 20px 100px 0px 20px;
    cursor: pointer;
}

.item6 .select {
    margin-top: 2em;
}

.a1{
    padding: 0;
    font-size: 1em;
}

.last{
    padding-right: 0px;
}


@media (max-width:1106px){
    .item6{
        padding-right: 50px;
        padding-left: 20px;
    }
}



@media (max-width:938px) {

    .item1 img,
    .item2 img,
    .item3 img,
    .item4 img {
        width: 300px;
    }

    body {
        width: 100%;
    }
        table td {
            padding: 20px 50px 0px 20px;
            cursor: pointer;
        }

}

@media (max-width:882px) {

    /* .item1 img,
    .item2 img,
    .item3 img,
    .item4 img {
        width: 200px;
    } */

    body {
        width: 100%;
    }

    table td {
        padding-right: 20px;
    }

}

@media (max-width:730px) {


    body {
        width: 100%;
        /* font-size: 1em; */
    }

    table td {
        padding-right: 10px;
    }


    .item1,
    .item2,
    .item3,
    .item4 {
        flex-direction: column;
        align-items: center;
    }
        .item1 img,
        .item2 img,
        .item3 img,
        .item4 img {
            width: 400px;
        }
    .main-text h1 {
        font-size: 3.2em;
    }

    .main-text h2 {
        font-size: 1.2em;
    }

}


@media (max-width:613px) {


    body {
        width: 100%;
        /* font-size: 1em; */
    }

    .overlay {
        height: 100vh;
    }

    table td {
        padding-right: 10px;
    }


    .item1,
    .item2,
    .item3,
    .item4 {
        font-size: 0.6em;
        flex-direction: column;
        align-items: center;
    }

    .item5 {
        font-size: 0.5em;
    }

    .item6 {
        padding-left: 10px;
    }

    .item5 .get-started input {
        padding-top: 5px;
    }

    .item5 .get-started button {
        position: relative;
        left: 0px;
        top: 7.5px;
        padding-bottom: 4px;
    }

    .main-text h1 {
        font-size: 2.5em;
    }

    .main-text h2 {
        font-size: 1em;

    }

    .main-text h3 {
        font-size: 1em;
    }
}

@media (max-width:513px) {


    .buttons {
        margin-right: 5px;
    }

    .logo {
        margin-left: 0px;
        position: relative;
        top: -8px;
    }

    /* .q1,
    .q2,
    .q3,
    .q4,
    .q5,
    .q6 {
        padding-right: 200px;
    } */

    .main-text .get-started {
        font-size: 0.4em;

    }

    .main-text .get-started button {
        padding: 5px;
        position: relative;
        top: 1px;

    }

    .main-text .get-started input {
        padding-top: 9px;
        padding-bottom: 9px;

    }
}

@media (max-width:443px) {

    .signin {
        float: right;
    }

    .buttons .select {
        float: right;
        margin-bottom: 10px;
    }

    table td {
        padding-right: 15px;
        padding-left: 0px;
        font-size: 0.6em;
    }

    /* .q1,
    .q2,
    .q3,
    .q4,
    .q5,
    .q6 {
        padding-right: 100px;
    } */

    .main-text h1 {
        font-size: 1.8em;
    }

    .main-text h2 {
        font-size: 1em;
        margin-top: 30px;
    }

    .main-text h3 {
        font-size: 0.7em;
    }

    .item6 h5 {
        font-size: 0.5em;
    }

    .item6 #lang {
        font-size: 0.8em;
        float: left;
    }

    .item6 .select svg {
        /* float: left; */
        position: relative;
        left: -90px;
        top: 5px;
    }

    header .select {
        font-size: 0.8em;
    }

    header svg {
        left: 28px;
    }

    .heading {
        font-size: 1.7em;
    }

    .item5 .get-started button {
        position: relative;
        left: 0px;
        top: 1px;

        font-size: 0.9em;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3px;
    }

    .item5 .get-started input {
        padding-bottom: 5px;
    }

    .logo {
        width: 130px;
    }


    .item1 img,
    .item2 img,
    .item3 img,
    .item4 img {
        width: 250px;
    }
    .item6 h4{
        font-size: 0.7em;
    }
    .item5 h3{
        font-size: 1em;
    }

}